@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@custom-variant portrait (@media (orientation: portrait));
@custom-variant landscape (@media (orientation: landscape));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: var(--font-primary);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --text-md: 16px;
}

:root {
  --radius: 0.65rem;
  --background: oklch(98.46% 0.002 247.84);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(58.62% 0.189 299.23);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.702 0.183 293.541);
  --chart-1: oklch(0.811 0.111 293.571);
  --chart-2: oklch(0.606 0.25 292.717);
  --chart-3: oklch(58.62% 0.189 299.23);
  --chart-4: oklch(0.491 0.27 292.581);
  --chart-5: oklch(0.432 0.232 292.759);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(58.62% 0.189 299.23);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.702 0.183 293.541);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.606 0.25 292.717);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.38 0.189 293.745);
  --chart-1: oklch(0.811 0.111 293.571);
  --chart-2: oklch(0.606 0.25 292.717);
  --chart-3: oklch(58.62% 0.189 299.23);
  --chart-4: oklch(0.491 0.27 292.581);
  --chart-5: oklch(0.432 0.232 292.759);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.606 0.25 292.717);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.38 0.189 293.745);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground font-primary;
  }

  button {
    @apply cursor-pointer;
  }

  a,
  span,
  b,
  strong,
  i,
  em,
  u,
  small,
  abbr,
  code,
  img,
  input,
  label,
  textarea,
  select,
  ::before,
  ::after {
    @apply inline-block;
  }

  svg {
    @apply size-4;
  }

  img {
    @apply max-w-full h-auto object-cover;
  }

  h2 {
    @apply text-[28px] lg:text-[40px] font-medium;
  }

  h3 {
    @apply text-3xl font-bold;
  }

  main {
    @apply space-y-16;

    > section {
      @apply section-container;
    }
  }
}

@layer components {
  .header {
    > div {
      @apply section-container;

      &:first-child {
        @apply bg-primary text-primary-foreground flex-wrap justify-between items-center gap-x-4 py-2 hidden md:flex;

        > div {
          @apply flex items-center gap-2;

          &:first-child {
            @apply gap-4;
          }

          > a {
            @apply flex-center gap-2;
          }
        }

        a:last-child {
          @apply flex-center gap-2;
        }

        a:hover {
          @apply text-muted;
        }
      }

      &:last-child {
        @apply flex justify-between items-center bg-primary/10 py-4;

        > img,
        > nav {
          @apply h-10;
        }
      }
    }
  }

  .navigation {
    @apply flex flex-col md:flex-row md:items-center gap-6;

    > a,
    div {
      @apply cursor-pointer relative my-auto flex md:justify-center md:items-center flex-wrap md:gap-0 hover:text-primary;

      & > svg {
        @apply size-5 stroke-1;
      }

      &.active {
        @apply text-primary font-medium;
      }

      & > ul {
        @apply md:group-hover:flex! basis-full md:absolute top-[150%] z-20 p-4 md:rounded-2xl md:bg-secondary flex-wrap gap-4 w-full md:w-xl text-sm dot-list;

        &.active {
          @apply flex;
        }

        > a {
          @apply basis-full md:basis-[calc(33%-16px)] text-foreground hover:text-primary;
        }
      }

      &:has(ul)::before {
        @apply absolute content-[''] top-0 h-16 w-full;
      }
    }
  }

  .page-header {
    background-image: var(--bg-image);
    @apply relative bg-center bg-no-repeat bg-cover h-64 flex-center;

    h2 {
      @apply relative z-10;
    }

    &::before {
      content: "";
      @apply absolute inset-0 bg-secondary/90;
    }

    &::after {
      content: "";
      @apply absolute inset-0 bg-primary/10;
    }
  }

  .hero-section {
    @apply flex flex-col md:flex-row justify-between relative min-h-[120vh] bg-[url(/images/hero-bg.webp)] bg-top bg-no-repeat bg-cover;

    > div {
      @apply basis-1/2 relative;

      &:first-child {
        @apply pt-16 space-y-6 z-10;

        h1 {
          @apply text-4xl md:text-5xl font-medium leading-[1.4] tracking-tight;
        }

        > div {
          &:first-of-type {
            @apply space-x-4;
          }

          &:last-child {
            @apply flex items-center gap-4;

            svg {
              @apply size-8 text-primary;
            }

            > div {
              @apply space-y-2 mt-4;

              > div {
                @apply flex items-center gap-4 text-xl font-medium;
              }
            }
          }
        }
      }

      &:last-child {
        @apply relative;

        img {
          @apply w-[80%] float-right;
        }

        > div {
          @apply absolute p-4  rounded-2xl max-w-60;

          > div,
          ul {
            @apply flex items-center;
          }

          > div {
            @apply gap-2 text-lg;
          }

          &:first-of-type {
            @apply bg-white max-lg:bottom-[5%] lg:bottom-1/5 max-md:right-4 md:left-4 space-y-4;

            li {
              @apply size-10 bg-primary/20 rounded-full;

              &:not(:first-child) {
                @apply -ml-2;
              }
            }
          }

          &:last-child {
            @apply bg-primary/90 max-lg:bottom-[44%] md:bottom-1/3 max-md:left-4 md:right-4 text-primary-foreground;

            div {
              @apply font-medium;
            }
          }
        }
      }
    }

    &::before {
      content: "";
      @apply absolute inset-0 bg-secondary/90;
    }

    &::after {
      content: "";
      @apply absolute inset-0 bg-primary/7;
    }
  }

  .experience-section {
    @apply relative flex items-center flex-wrap gap-8 lg:gap-4 py-12 px-9 bg-primary text-primary-foreground max-w-[96%] rounded-2xl lg:-mt-40 z-10;

    > div {
      @apply space-y-4 basis-full md:basis-[calc(50%-16px)] lg:basis-[calc(25%-16px)];

      > div {
        @apply flex items-center gap-4 text-lg font-medium;

        > div {
          @apply flex flex-col;

          span:first-child {
            @apply text-4xl text-outline-secondary;
          }
        }
      }
    }
  }

  .welcome-section {
    @apply space-y-16 pb-16;

    > div {
      &:first-child {
        @apply text-center space-y-4  font-medium;

        span {
          @apply subtitle;
        }
      }

      &:last-child {
        @apply flex flex-col md:flex-row md:items-center gap-8;

        > div {
          @apply basis-1/2;

          &:first-child {
            @apply p-6 relative;

            img {
              @apply rounded-2xl;
            }
          }

          &:last-child {
            @apply space-y-4 mt-8 md:mt-0;

            h3 {
              @apply text-2xl font-medium;
            }

            ul {
              @apply dot-list space-y-2;
            }
          }
        }
      }
    }
  }

  .service-section {
    @apply py-24 bg-secondary space-y-8;

    > div {
      @apply text-center space-y-4;

      span {
        @apply subtitle;
      }
    }

    > ul {
      @apply flex justify-between flex-wrap gap-4;

      li {
        @apply relative basis-full sm:basis-[calc(50%-16px)] lg:basis-[calc(33.3%-16px)] p-8 bg-white rounded-2xl text-center space-y-2 border-2 border-primary;

        &:hover {
          @apply bg-primary/90 text-primary-foreground;

          a {
            @apply text-primary-foreground;

            &::before {
              @apply content-[''] absolute inset-0;
            }
          }
        }

        h4 {
          @apply text-xl font-medium;
        }

        a {
          @apply flex-center-inline gap-1 text-primary;
        }
      }
    }
  }

  .contact-section {
    @apply py-24 relative flex-col lg:flex-row flex justify-between bg-primary overflow-hidden;

    > div {
      > span {
        @apply subtitle text-white;
      }

      h2 {
        @apply text-white;
      }

      &:first-child {
        @apply space-y-4 lg:max-w-xl;

        form {
          @apply p-8 lg:p-18 bg-white rounded-2xl  grid grid-cols-2 gap-x-4 md:gap-x-8;

          h4 {
            @apply col-span-full text-2xl font-semibold;
          }

          > div:last-of-type {
            @apply col-span-full;
          }
        }

        img {
          @apply absolute left-[60%] md:left-1/2 bottom-0 w-1/2 md:w-auto;
        }
      }

      &:last-child {
        @apply p-8 w-xs h-max bg-white rounded-2xl space-y-4;

        h4 {
          @apply text-2xl font-medium;
        }

        ul {
          @apply space-y-2 mt-8;

          li {
            @apply flex items-center justify-between;
          }
        }

        button {
          @apply mt-8 w-full;
        }
      }
    }
  }

  .strategy-section {
    @apply space-y-4 text-center;

    > span {
      @apply subtitle;
    }

    ul {
      @apply flex items-center justify-between gap-4 mt-8 flex-wrap;

      li {
        @apply basis-full md:basis-[calc(50%-16px)] lg:basis-[calc(33.3%-16px)] relative bg-secondary p-8 rounded-2xl space-y-8 text-left border-2 border-primary;

        span {
          @apply absolute top-4 right-4 text-5xl font-medium text-primary/40;
        }

        h4 {
          @apply text-xl font-semibold;
        }
      }
    }
  }

  .ehrs-section {
    @apply space-y-6 text-center;

    ul {
      @apply flex flex-wrap gap-8;

      li {
        @apply border-2 border-primary bg-white p-5  rounded-2xl basis-full sm:basis-[calc(50%-32px)] md:basis-[calc(33.3%-32px)];

        img {
          @apply h-[68px];
        }
      }
    }

    > a {
      @apply mt-4;
    }
  }

  .testimonial-section {
    @apply space-y-4 text-center;

    > span {
      @apply subtitle;
    }

    > div {
      @apply flex-col lg:flex-row flex items-center justify-between gap-16 mt-10;

      > img,
      > div:first-of-type {
        @apply basis-1/2;
      }

      img {
        @apply rounded-2xl;
      }

      > div {
        @apply space-y-8 text-start;

        > div:first-child {
          @apply ml-auto text-end;
        }

        [data-slot="carousel-previous"],
        [data-slot="carousel-next"] {
          position: relative !important;
          @apply mb-4;
        }

        [data-slot="carousel-item"] {
          @apply space-y-8;

          > div {
            @apply flex items-center gap-4;

            img {
              @apply size-[60px] rounded-full;
            }

            > div {
              h5 {
                @apply text-lg font-medium;
              }

              > span {
                @apply subtitle;
              }
            }
          }
        }
      }
    }
  }

  .parallax-section {
    background-image: var(--bg-image);
    justify-content: var(--justify-content);
    @apply relative bg-center
      bg-no-repeat bg-cover bg-fixed min-h-[80svh]  md:min-h-svh flex items-center;

    > div {
      text-align: var(--text-align);
      @apply relative text-primary-foreground w-lg space-y-4;
    }

    &::before {
      content: "";
      @apply absolute inset-0 bg-black/40;
    }
  }

  .footer {
    > div {
      @apply section-container;

      &:first-child {
        @apply py-16 bg-primary/10 flex flex-wrap justify-between gap-8 text-sm;

        > div {
          @apply space-y-4 basis-full sm:basis-[calc(50%-32px)] lg:basis-[calc(25%-32px)];

          &:first-child {
            /* @apply basis-1/3; */

            > div {
              @apply flex items-center gap-4 text-primary;

              svg {
                @apply size-6;
              }
            }
          }

          > h4 {
            @apply text-2xl font-medium;
          }

          nav {
            @apply flex flex-col gap-2;

            > a {
              @apply hover:text-primary;
            }
          }
        }
      }

      &:last-child {
        @apply flex flex-wrap gap-x-4 md:justify-between md:items-center py-2 bg-primary text-primary-foreground;

        > p {
          @apply basis-full sm:basis-[calc(50%-16px)] sm:text-center;

          &:last-child {
            @apply text-right sm:text-start;
          }
        }
      }
    }
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-center-inline {
  @apply inline-flex items-center justify-center;
}

@utility section-container {
  @apply w-full mx-auto px-4 sm:px-6 md:px-8;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility text-outline-* {
  -webkit-text-stroke: 1px --value(--color- *);
  color: transparent;
}

@utility subtitle {
  @apply text-sm text-primary font-medium;
}

@utility dot-list {
  > li,
  > a {
    @apply relative text-start pl-4;

    &::before {
      content: "";
      @apply bg-primary size-2 rounded-full absolute left-0 top-2;
    }
  }
}
